# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
*.sublime*

# Build artifacts
dist/
build/

# Temporary files
tmp/
temp/

# Coverage reports
coverage/
coverage/
